{% extends "base.html" %}

{% block title %}Règles - Log to LLM Sentinel{% endblock %}

{% block content %}
<div class="rules-page">
    <div class="page-header">
        <h1 data-i18n="rules.title">Gestion des Règles</h1>
        <button id="add-rule-btn" class="btn btn-primary" data-i18n="rules.new_rule">+ Nouvelle règle</button>
    </div>

    <div id="rules-list" class="rules-list">
        <div class="loading" data-i18n="rules.loading">Chargement des règles...</div>
    </div>

    <!-- Modal ajout/édition (shared partial) -->
    {% include '_rule_modal.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/rule_modal.js?v=1"></script>
<script src="/static/js/rules.js?v=11"></script>


<script src="/static/js/keyword_wizard.js?v=7"></script>


{% endblock %}
